*.bak
*.o
*~
.DS_Store
MANIFEST
Makefile
autom4te.cache
c/Makefile
confdefs.h
config.h
config.log
config.status
examples/init-script
htmldocs/
mailmunge
mailmunge-*.tar.gz
mailmunge-*.tar.gz.sig
mailmunge-filter.5
mailmunge-multiplexor
mailmunge-multiplexor.8
mailmunge-notify.7
mailmunge-protocol.7
mailmunge.8
mm-mx-ctrl
mm-mx-ctrl.8
perl/MYMETA.json
perl/MYMETA.yml
perl/blib/
perl/lib/Mailmunge.pm
perl/lib/Mailmunge/Constants.pm
perl/pm_to_blib
perl/t/tmp
pod/mailmunge-multiplexor.pod
pod/mailmunge.pod
pod/mm-mx-ctrl.pod
pod2htmd.tmp
redhat/mailmunge-init
redhat/mailmunge-sysconfig
script/mailmunge-util
script/mailmunge-util.1
systemd-units/mailmunge-multiplexor.service
systemd-units/mailmunge.service
xs_init.c
man/
