Source: mailmunge
Section: mail
Priority: optional
Maintainer: Dianne Skoll <dianne@skollsoft.com>
Build-Depends: libmime-tools-perl, libperl-dev, perl, libio-socket-ssl-perl, spamassassin, libfile-find-rule-perl, libtest-deep-perl, build-essential, libjson-any-perl, libmilter-dev, postfix | sendmail, debhelper (>= 3.0.18)
Standards-Version: 3.9.8
Homepage: https://www.mailmunge.org/

Package: mailmunge
Architecture: all
Depends: mailmunge-base (= ${binary:Version}), libmailmunge-perl (= ${binary:Version})
Suggests: libtest-mailmunge-perl, libmailmunge-action-boilerplate-perl, libmailmunge-test-smtpforward-perl, libmailmunge-test-getmx-perl, libmailmunge-test-spamassassin-perl, libmailmunge-test-rspamd-perl
Description: Meta-package for the Mailmunge email filtering framework
 This package pulls in mailmunge-base and libmailmunge-perl, providing the
 basic framework for email filtering using Mailmunge.

Package: mailmunge-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, psmisc, adduser, sendmail|postfix
Description: C programs for Mailmunge interface
 This package contains the C programs that interface a Perl Mailmunge
 filter with Postfix or Sendmail via the Milter protocol

Package: libmailmunge-perl
Architecture: all
Depends: ${perl:Depends}, libmime-tools-perl
Description: Perl code for writing Mailmunge email filters
 This package contains the base Perl code for writing Mailmunge email filters

Package: libtest-mailmunge-perl
Architecture: all
Depends: ${perl:Depends}, libmailmunge-perl (= ${binary:Version}), mailmunge-base (= ${binary:Version}), libjson-any-perl
Description: Test::Mailmunge modules for writing unit tests for mailmunge filters
 This package contains code in the Test::Mailmunge namespace for writing
 unit tests for Mailmunge modules

Package: libmailmunge-action-boilerplate-perl
Architecture: all
Depends: ${perl:Depends}, libhtml-parser-perl, libmailmunge-perl (= ${binary:Version})
Description: A Mailmunge action to add boilerplate to emails
 This package contains a module that lets you add plain-text or
 HTML boilerplate to the beginning or end of text/plain or text/html
 email parts

Package: libmailmunge-test-smtpforward-perl
Architecture: all
Depends: ${perl:Depends}, libio-socket-ssl-perl, libmailmunge-perl (= ${binary:Version})
Description: Have Mailmunge make SMTP call-aheads before accepting recipients
 This package contains a module that lets you make an SMTP call-ahead to
 another SMTP server from Mailmunge.  It permits you to reject recipients
 that would not be accepted by the other SMTP server.

Package: libmailmunge-test-getmx-perl
Architecture: all
Depends: ${perl:Depends}, libnet-dns-perl, libmailmunge-perl (= ${binary:Version})
Description: Get and classify MX records in a Mailmunge filter
 This package contains a module that lets you look up the MX IP addresses
 for a given domain and classify them as routable or non-routable addresses.

Package: libmailmunge-test-spamassassin-perl
Architecture: all
Depends: ${perl:Depends}, spamassassin, libmailmunge-perl (= ${binary:Version})
Description: Scan email with SpamAssassin from a Mailmunge filter
 This package contains a module for integrating SpamAssassin into your
 Mailmunge filter

Package: libmailmunge-test-rspamd-perl
Architecture: all
Depends: ${perl:Depends}, rspamd, libmailmunge-perl (= ${binary:Version})
Description: Scan email with rspamd from a Mailmunge filter
 This package contains a module for integrating rspamd scanning into your
 Mailmunge filter

Package: libmailmunge-test-greylist-perl
Architecture: all
Depends: ${perl:Depends}, libdbi-perl, libmailmunge-perl (= ${binary:Version})
Description: Implementation of greylisting
 This package contains a module for implementing greylisting in your
 Mailmunge filter

Package: watch-multiple-mailmunges
Architecture: all
Depends: tk, openssh-client
Description: watch-multiple-mailmunges is a Tcl/Tk GUI for monitoring Mailmunge
 watch-multiple-mailmunges can monitor a cluster of Mailmunge filtering
 servers; it uses SSH to access the remote machines and runs mm-mx-ctrl
 on each machine to obtain monitoring data
